.card {
	
	height:300px;
	border-radius:4px;
	box-shadow: 0.24px 0.5px 1.25px 1px #888888;
}

.controlcard {
	height: 725px;
	/border-right-style: solid;
	box-shadow: 1px 0px 0px 0px #888888;
	position: fixed;
}

.cardholder {
	float:right;
}

.companycard {
	margin:8px;
}

.companyLogo {
	max-width: 170px;
}

.tab-container {
height: 20px;
border-style: solid;
border-width: 1px;
/box-shadow: 2px 2px 2px 2px #888888;
border-top-left-radius: 4px;
border-top-right-radius: 4px;

}

.tab {
text-align:center;
}

body { padding-top: 70px; }