h1,h2, h3, p {
	font-family: 'Roboto', sans-serif;
}

.card {
	
	height:300px;
	border-radius:4px;
	box-shadow: 0px 2px 5px rgba(0,0,0,.2);
}

.controlcard {
	background: #F3AB1C;
	height: 750px;
	/border-right-style: solid;
	box-shadow: 3px 0px 8px 0px rgba(0,0,0,.2);
	position: fixed;
}

.cardholder {
	float:right;
}

.companycard {
	margin:8px;
	border-top-width:8px;
	border-top-style: solid;
}

.engineer {
	border-top-color: #CE000A; 
}

.business {
	border-top-color: #5192E0;
}

.design {
	border-top-color: #75D033;
}

.companyLogo {
	max-width: 170px;
	max-height: 100px;
	display: block;
	position:absolute;
    top:25%;
    left: 0;
  	right: 0;
  	margin: 0 auto;
    
}

.centeredcards {
	display: block;
	margin-left: auto;
    margin-right: auto;
}


.interndescriptions {
	text-align: right;
	bottom:0;
	right:0;
	position:absolute;
	padding: 15px;
}

.interndescriptions h1 {
	font-size: 22px;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 1.2;

}

.interndescriptions h2 {
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 1.2;
}

.interndescriptions h3 {
	font-size: 14px;
	color: gray;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 1.2;
}

.tab-container {
	height: 40px;
	/border-style: solid;
	/box-shadow: 1px 1px 1px 1px #888888;
	/border-top-left-radius: 4px;
	/border-top-right-radius: 4px;

}

.tab {
	font-weight: bold;
	font-size: 18px;
	text-align:center;
	font-family: Roboto;
	color: white;
	margin:10px 0px 0px 0px;
}

.inner-tab {
	width: auto;
	display: inline;
}

.inner-tab:hover{
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: white;
}

.tabs-ribbon{
	height:2px;
	background-color: rgba(20,100,200,.7);
}

/*body { padding-top: 55px; }*/

.glyphformatting {
	text-align: right;
	bottom:0;
	right:0;
	position:absolute;
	padding: 15px;
	color: gray;
	font-size: 28px;
	opacity: 0.5;

}

.starformat {
	top: 37px;
}
