h1,h2, h3, p {
	font-family: 'Roboto', sans-serif;
}

.card {
	
	height:300px;
	border-radius:4px;
	box-shadow: 0px 2px 5px rgba(0,0,0,.2);
}

.controlcard {
	background: #F3AB1C;
	height: 750px;
	/border-right-style: solid;
	box-shadow: 3px 0px 8px 0px rgba(0,0,0,.2);
	position: fixed;

}

.cardholder {
	float:right;
}

.content {
	padding-top: 80px;
}

.companycard {
	margin:8px;
	border-top-width:8px;
	border-top-style: solid;
}

.engineer {
	border-top-color: #CE000A; 
}

.business {
	border-top-color: #5192E0;
}

.design {
	border-top-color: #75D033;
}

.companyLogo {
	max-width: 170px;
	max-height: 100px;
	display: block;
	position:absolute;
    top:25%;
    left: 0;
  	right: 0;
  	margin: 0 auto;
    
}

.centeredcards {
	display: block;
	margin-left: auto;
    margin-right: auto;
}


.interndescriptions {
	text-align: right;
	bottom:0;
	right:0;
	position:absolute;
	padding: 15px;
}

.interndescriptions h1 {
	font-size: 22px;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 1.2;

}

.interndescriptions h2 {
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 1.2;
}

.interndescriptions h3 {
	font-size: 14px;
	color: gray;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 1.2;
}

.tab-container {
 	/*display: inline-block;*/
}

.tab {
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
	text-align:center;
	font-family: Roboto;
	color: white;
	margin:13px 0px 0px 0px;
}

.inner-tab {
	width: auto;
	display: inline-block;
	border-bottom-style:solid;
	border-bottom-width: 3px;
	border-color: rgba(0,0,0,0);

}

.inner-tab:hover{
	border-bottom-color: white;

}

.talent-logo {
	z-index: 2;
	max-width:17%;
	margin-top:13px;
	margin-left:15px;
	position: fixed;
}

input {
	width: 60%;
	margin-top: 25px;
	margin-left: 10px;
	border-width: 0px;
	font-size:20px;
	font-family: Roboto;
	font-style: italic;
	display: inline-block;
}

input:focus {
	outline: 0;

}

.orange-container {
	position: fixed;
	display: inline-block;
	width:200px;
	margin-top: -40px;
	margin-left: 700px;
}

.orange-circle {
	margin-left: 20px;
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 35px;
	background-color:#F3AB1C; 
	box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.glyphformatting {
	text-align: right;
	bottom:0;
	right:0;
	position:absolute;
	padding: 15px;
	color: gray;
	font-size: 28px;
	opacity: 0.5;

}

.starformat {
	top: 37px;
}

.user-icon {
	margin-left: 25px;
	margin-top: -30px;
	display: inline-block;
	width: 50px;
	height: auto;
	border-radius: 60px;
	display: inline-block;
	box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}
