nav{
	width:100%;
	position: fixed;
	display: inline-block;
	margin:auto;
	height:80px;
	z-index: 1;
	box-shadow: 0 3px 8px rgba(0,0,0,0.2);
	background-color: white;
}

.search-bar {
	height: 80%;
	border-width: 0px 0px 1px 0;
	border-style: solid;
	color: #CCC;
	width:100%;
}

.search-container {
	height:80px;
	/background-color:red;
	/position: relative;
	margin-left:35%;
	width:30%;
}

.search-image {
	display: inline-block;
	width:6%;
	margin-left: 10%;
	height: auto;
}